
# set NODE_ENV to production if using supabase prod db
# set NODE_ENV to development if using local postgres db
NODE_ENV=development 
# NOVE_ENV=production 

DATABASE_URL=postgresql://postgres.<supabaseURL>:<supabasePassword>@<AWSregion>.pooler.supabase.com:<supabasePort>/postgres
DEV_DATABASE_URL=postgresql://postgres:postgres@<RadiantIP>:<postgresPort>/postgres
