
# set NODE_ENV to production if using supabase prod db
# set NODE_ENV to development if using local postgres db
NODE_ENV=development 
# NOVE_ENV=production 

DATABASE_URL=postgresql://postgres.<supabaseURL>:<supabasePassword>@aws-0-us-east-1.pooler.supabase.com:6543/postgres
